<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>jhta-project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexController</display-name>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/index/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberLogin</display-name>
    <servlet-name>MemberLogin</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLogin</servlet-name>
    <url-pattern>/member/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberInsert</display-name>
    <servlet-name>MemberInsert</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberInsert</servlet-name>
    <url-pattern>/member/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberIDCheck</display-name>
    <servlet-name>MemberIDCheck</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberIDCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberIDCheck</servlet-name>
    <url-pattern>/member/idCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodyBoardInsert</display-name>
    <servlet-name>CodyBoardInsert</servlet-name>
    <servlet-class>com.kkj.codyboard.controller.CodyBoardInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodyBoardInsert</servlet-name>
    <url-pattern>/codyboard/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodyBoardInsertProcess</display-name>
    <servlet-name>CodyBoardInsertProcess</servlet-name>
    <servlet-class>com.kkj.codyboard.controller.CodyBoardInsertProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodyBoardInsertProcess</servlet-name>
    <url-pattern>/codyboard/insert-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodyBoardFindAll</display-name>
    <servlet-name>CodyBoardFindAll</servlet-name>
    <servlet-class>com.kkj.codyboard.controller.CodyBoardFindAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodyBoardFindAll</servlet-name>
    <url-pattern>/codyboard/find-all</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>main</display-name>
    <servlet-name>main</servlet-name>
    <servlet-class>com.kkj.codyboard.controller.main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/codyboard/main</url-pattern>
  </servlet-mapping>
</web-app>