<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>jhta-project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexController</display-name>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/index/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberLogin</display-name>
    <servlet-name>MemberLogin</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLogin</servlet-name>
    <url-pattern>/member/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberInsert</display-name>
    <servlet-name>MemberInsert</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberInsert</servlet-name>
    <url-pattern>/member/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberIDCheck</display-name>
    <servlet-name>MemberIDCheck</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberIDCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberIDCheck</servlet-name>
    <url-pattern>/member/idCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodyBoardInsert</display-name>
    <servlet-name>CodyBoardInsert</servlet-name>
    <servlet-class>com.kkj.codyboard.controller.CodyBoardInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodyBoardInsert</servlet-name>
    <url-pattern>/codyboard/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodyBoardInsertProcess</display-name>
    <servlet-name>CodyBoardInsertProcess</servlet-name>
    <servlet-class>com.kkj.codyboard.controller.CodyBoardInsertProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodyBoardInsertProcess</servlet-name>
    <url-pattern>/codyboard/insert-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberLoginProcess</display-name>
    <servlet-name>MemberLoginProcess</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberLoginProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLoginProcess</servlet-name>
    <url-pattern>/member/login-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductList</display-name>
    <servlet-name>ProductList</servlet-name>
    <servlet-class>com.kkj.product.controller.ProductList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductList</servlet-name>
    <url-pattern>/product/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductInsert</display-name>
    <servlet-name>ProductInsert</servlet-name>
    <servlet-class>com.kkj.product.controller.ProductInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInsert</servlet-name>
    <url-pattern>/product/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductInsertProcess</display-name>
    <servlet-name>ProductInsertProcess</servlet-name>
    <servlet-class>com.kkj.product.controller.ProductInsertProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInsertProcess</servlet-name>
    <url-pattern>/product/insert-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetail</display-name>
    <servlet-name>ProductDetail</servlet-name>
    <servlet-class>com.kkj.product.controller.ProductDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetail</servlet-name>
    <url-pattern>/product/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodyBoardFindAll</display-name>
    <servlet-name>CodyBoardFindAll</servlet-name>
    <servlet-class>com.kkj.codyboard.controller.CodyBoardFindAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodyBoardFindAll</servlet-name>
    <url-pattern>/codyboard/find-all</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodyBoardPageNation</display-name>
    <servlet-name>CodyBoardPageNation</servlet-name>
    <servlet-class>com.kkj.codyboard.controller.CodyBoardPageNation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodyBoardPageNation</servlet-name>
    <url-pattern>/codyboard/page-nation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodyBoardFindOne</display-name>
    <servlet-name>CodyBoardFindOne</servlet-name>
    <servlet-class>com.kkj.codyboard.controller.CodyBoardFindOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodyBoardFindOne</servlet-name>
    <url-pattern>/codyboard/findone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodyBoardUpdate</display-name>
    <servlet-name>CodyBoardUpdate</servlet-name>
    <servlet-class>com.kkj.codyboard.controller.CodyBoardUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodyBoardUpdate</servlet-name>
    <url-pattern>/codyboard/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodyBoardUpdateProcess</display-name>
    <servlet-name>CodyBoardUpdateProcess</servlet-name>
    <servlet-class>com.kkj.codyboard.controller.CodyBoardUpdateProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodyBoardUpdateProcess</servlet-name>
    <url-pattern>/codyboard/update-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberLogout</display-name>
    <servlet-name>MemberLogout</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLogout</servlet-name>
    <url-pattern>/member/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberInsertProcess</display-name>
    <servlet-name>MemberInsertProcess</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberInsertProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberInsertProcess</servlet-name>
    <url-pattern>/member/insert-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberSendEmail</display-name>
    <servlet-name>MemberSendEmail</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberSendEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberSendEmail</servlet-name>
    <url-pattern>/member/sendEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberNickNameCheck</display-name>
    <servlet-name>MemberNickNameCheck</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberNickNameCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberNickNameCheck</servlet-name>
    <url-pattern>/member/nickNameCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberInfo</display-name>
    <servlet-name>MemberInfo</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberInfo</servlet-name>
    <url-pattern>/member/info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberInfoModify</display-name>
    <servlet-name>MemberInfoModify</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberInfoModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberInfoModify</servlet-name>
    <url-pattern>/member/infoModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberInfoModifyProcess</display-name>
    <servlet-name>MemberInfoModifyProcess</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberInfoModifyProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberInfoModifyProcess</servlet-name>
    <url-pattern>/member/infoModify-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberInfoModifyUpdate</display-name>
    <servlet-name>MemberInfoModifyUpdate</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberInfoModifyUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberInfoModifyUpdate</servlet-name>
    <url-pattern>/member/infoModifyUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberDelete</display-name>
    <servlet-name>MemberDelete</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberDelete</servlet-name>
    <url-pattern>/member/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberDeleteProcess</display-name>
    <servlet-name>MemberDeleteProcess</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberDeleteProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberDeleteProcess</servlet-name>
    <url-pattern>/member/delete-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CbcommentInsert</display-name>
    <servlet-name>CbcommentInsert</servlet-name>
    <servlet-class>com.kkj.cbcomment.controller.CbcommentInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CbcommentInsert</servlet-name>
    <url-pattern>/cbcomment/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CbReplyInsert</display-name>
    <servlet-name>CbReplyInsert</servlet-name>
    <servlet-class>com.kkj.cbreply.controller.CbReplyInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CbReplyInsert</servlet-name>
    <url-pattern>/cbreply/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDelete</display-name>
    <servlet-name>ProductDelete</servlet-name>
    <servlet-class>com.kkj.product.controller.ProductDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDelete</servlet-name>
    <url-pattern>/product/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductModify</display-name>
    <servlet-name>ProductModify</servlet-name>
    <servlet-class>com.kkj.product.controller.ProductModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductModify</servlet-name>
    <url-pattern>/product/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductModifyProcess</display-name>
    <servlet-name>ProductModifyProcess</servlet-name>
    <servlet-class>com.kkj.product.controller.ProductModifyProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductModifyProcess</servlet-name>
    <url-pattern>/product/modify-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberUpdateCheck</display-name>
    <servlet-name>MemberUpdateCheck</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberUpdateCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberUpdateCheck</servlet-name>
    <url-pattern>/member/update-check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CbReplyUpdate</display-name>
    <servlet-name>CbReplyUpdate</servlet-name>
    <servlet-class>com.kkj.cbreply.controller.CbReplyUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CbReplyUpdate</servlet-name>
    <url-pattern>/cbreply/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CbReplyDelete</display-name>
    <servlet-name>CbReplyDelete</servlet-name>
    <servlet-class>com.kkj.cbreply.controller.CbReplyDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CbReplyDelete</servlet-name>
    <url-pattern>/cbreply/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CbCommentUpdate</display-name>
    <servlet-name>CbCommentUpdate</servlet-name>
    <servlet-class>com.kkj.cbcomment.controller.CbCommentUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CbCommentUpdate</servlet-name>
    <url-pattern>/cbcomment/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CbCommentDelete</display-name>
    <servlet-name>CbCommentDelete</servlet-name>
    <servlet-class>com.kkj.cbcomment.controller.CbCommentDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CbCommentDelete</servlet-name>
    <url-pattern>/cbcomment/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cbLike</display-name>
    <servlet-name>cbLike</servlet-name>
    <servlet-class>com.kkj.cblike.controller.cbLike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cbLike</servlet-name>
    <url-pattern>/cblike/cblike</url-pattern>
  </servlet-mapping>
 <servlet>
    <description></description>
    <display-name>CodyBoardDelete</display-name>
    <servlet-name>CodyBoardDelete</servlet-name>
    <servlet-class>com.kkj.codyboard.controller.CodyBoardDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodyBoardDelete</servlet-name>
    <url-pattern>/codyboard/delete</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>

    <display-name>ImageUpload</display-name>
    <servlet-name>ImageUpload</servlet-name>
    <servlet-class>com.kkj.product.controller.ImageUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUpload</servlet-name>
    <url-pattern>/product/imgupload</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>

    <display-name>MemberList</display-name>
    <servlet-name>MemberList</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberList</servlet-name>
    <url-pattern>/member/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberBlack</display-name>
    <servlet-name>MemberBlack</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberBlack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberBlack</servlet-name>
    <url-pattern>/member/black</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberBlackAll</display-name>
    <servlet-name>MemberBlackAll</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberBlackAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberBlackAll</servlet-name>
    <url-pattern>/member/blackAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberBlackList</display-name>
    <servlet-name>MemberBlackList</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberBlackList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberBlackList</servlet-name>
    <url-pattern>/member/blackList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberLevel</display-name>
    <servlet-name>MemberLevel</servlet-name>
    <servlet-class>com.kkj.member.controller.MemberLevel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLevel</servlet-name>
    <url-pattern>/member/level</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>SubscribePayment</display-name>
    <servlet-name>SubscribePayment</servlet-name>
    <servlet-class>com.kkj.subscribe.controller.SubscribePayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubscribePayment</servlet-name>
    <url-pattern>/subscribe/payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubcribePaymentProcess</display-name>
    <servlet-name>SubcribePaymentProcess</servlet-name>
    <servlet-class>com.kkj.subscribe.controller.SubcribePaymentProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubcribePaymentProcess</servlet-name>
    <url-pattern>/subcribe/payment-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubscribeTokenTest</display-name>
    <servlet-name>SubscribeTokenTest</servlet-name>
    <servlet-class>com.kkj.subscribe.controller.SubscribeTokenTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubscribeTokenTest</servlet-name>
    <url-pattern>/subscribe/token-test</url-pattern>
  </servlet-mapping>
</web-app>