<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="MemberDto" type="com.kkj.member.dto.MemberDto"/>
		<typeAlias alias="CodyBoardDto"   type="com.kkj.codyboard.dto.CodyBoardDto" />
		<typeAlias alias="CodyBoardUpdateDto" type="com.kkj.codyboard.dto.CodyBoardUpdateDto"/>
		<typeAlias alias="ProductDto" type="com.kkj.product.dto.ProductDto"/>
		<typeAlias alias="ImageDto" type="com.kkj.product.dto.ImageDto"/>
		<typeAlias alias="CbCommentDto" type="com.kkj.cbcomment.dto.CbCommentDto"/>
		<typeAlias alias="CbReplyDto" type="com.kkj.cbreply.dto.CbReplyDto"/>
		<typeAlias alias="CbReplyUpdateDto" type="com.kkj.cbreply.dto.CbReplyUpdateDto"/>
		<typeAlias alias="CbLikeDto" type="com.kkj.cblike.dto.CbLikeDto"/>
		<typeAlias alias="ProductSizeDto" type="com.kkj.product.dto.ProductSizeDto"/>
		<typeAlias alias="CartProductDto" type="com.kkj.cart.dto.CartProductDto"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="jjang100" />
				<property name="password" value="1234" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/kkj/mybatis/member.xml"/>
		<mapper resource="com/kkj/mybatis/codyboard.xml" />
		<mapper resource="com/kkj/mybatis/product.xml" />
		<mapper resource="com/kkj/mybatis/productimage.xml" />
		<mapper resource="com/kkj/mybatis/cbcomment.xml" />
		<mapper resource="com/kkj/mybatis/cbreply.xml" />
		<mapper resource="com/kkj/mybatis/cblike.xml" />
		<mapper resource="com/kkj/mybatis/productsize.xml" />
		<mapper resource="com/kkj/mybatis/cartproduct.xml" />
	</mappers>
</configuration>

